<h1 mat-dialog-title>{{ title }}</h1>
<mat-dialog-content class="animated-fade-fast">
    <div class="animated-fade-fast text-center">
        <span>
            <img class="dialog-icon" src="https://firebasestorage.googleapis.com/v0/b/portfolio-app-b0dc3.appspot.com/o/question-icon.png?alt=media&token=9603384b-8aec-47e3-ba80-1c5ecb105376">
        </span>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="center">
        <button mat-raised-button color="primary" (click)="submit(true)">
            Continuar
            <mat-icon>save</mat-icon>
        </button>
        <button mat-raised-button color="warn" (click)="submit(false)">
            Cancelar
            <mat-icon>cancel</mat-icon>
        </button>
    </div>
</mat-dialog-actions>